
@font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.eot");
    src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
         url("../fonts/Flaticon.woff2") format("woff2"),
         url("../fonts/Flaticon.woff") format("woff"),
         url("../fonts/Flaticon.ttf") format("truetype"),
         url("../fonts/Flaticon.svg#Flaticon") format("svg");
    font-weight: normal;
    font-style: normal;
  }
  
  @media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
      font-family: "Flaticon";
      src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
    }
  }
  
  [class^="flaticon-"]:before, [class*=" flaticon-"]:before,
  [class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
    font-family: Flaticon;
    font-style: normal;
  }
  
  .flaticon-cell-phone:before { content: "\f100"; }
  .flaticon-straight-quotes:before { content: "\f101"; }
  .flaticon-xbox-logo:before { content: "\f102"; }
  .flaticon-blocks-with-angled-cuts:before { content: "\f103"; }
  .flaticon-steam-logo:before { content: "\f104"; }
  .flaticon-business:before { content: "\f105"; }
  .flaticon-technology:before { content: "\f106"; }
  .flaticon-graph-line-screen:before { content: "\f107"; }
  .flaticon-smartphone-call:before { content: "\f108"; }
  .flaticon-electric-light-bulb:before { content: "\f109"; }
  .flaticon-e-mail-envelope:before { content: "\f10a"; }
  .flaticon-triangular-arrow-facing-left:before { content: "\f10b"; }
  .flaticon-tool:before { content: "\f10c"; }
  .flaticon-angle-pointing-to-left:before { content: "\f10d"; }
  .flaticon-open-laptop-computer:before { content: "\f10e"; }
  .flaticon-angle-arrow-pointing-to-right:before { content: "\f10f"; }
  .flaticon-chart-of-columns:before { content: "\f110"; }
  .flaticon-quotation-mark:before { content: "\f111"; }
  .flaticon-website-design-symbol:before { content: "\f112"; }
  .flaticon-play:before { content: "\f113"; }
  .flaticon-verification-of-delivery-list-clipboard-symbol:before { content: "\f114"; }
  .flaticon-xbox-social-outline-logo:before { content: "\f115"; }
  .flaticon-right-arrow-angle:before { content: "\f116"; }
  .flaticon-speech-bubble-outline-of-rectangular-shape:before { content: "\f117"; }
  .flaticon-down-arrow:before { content: "\f118"; }
  .flaticon-up-arrow-angle:before { content: "\f119"; }
  .flaticon-right-arrow-angle-1:before { content: "\f11a"; }
  .flaticon-double-right-arrows-angles:before { content: "\f11b"; }
  .flaticon-circle:before { content: "\f11c"; }
  .flaticon-telephone:before { content: "\f11d"; }
  .flaticon-three:before { content: "\f11e"; }
  .flaticon-symbol:before { content: "\f11f"; }
  .flaticon-left-quote:before { content: "\f120"; }
  .flaticon-laptop:before { content: "\f121"; }
  .flaticon-line:before { content: "\f122"; }
  .flaticon-sign:before { content: "\f123"; }
  .flaticon-delete:before { content: "\f124"; }
  .flaticon-new-email-outline:before { content: "\f125"; }
  .flaticon-menu-button:before { content: "\f126"; }
  .flaticon-check-symbol:before { content: "\f127"; }
  .flaticon-round:before { content: "\f128"; }
  .flaticon-arrows:before { content: "\f129"; }
  .flaticon-arrows-1:before { content: "\f12a"; }
  .flaticon-delete-cross:before { content: "\f12b"; }
  .flaticon-location:before { content: "\f12c"; }
  .flaticon-clipboard-with-a-list:before { content: "\f12d"; }
  .flaticon-arrows-2:before { content: "\f12e"; }
  .flaticon-technology-1:before { content: "\f12f"; }
  .flaticon-fax-with-phone:before { content: "\f130"; }
  .flaticon-boat-anchor:before { content: "\f131"; }
  .flaticon-xbox-gamepad:before { content: "\f132"; }
  .flaticon-psp-console:before { content: "\f133"; }
  .flaticon-interface:before { content: "\f134"; }
  .flaticon-interface-1:before { content: "\f135"; }
  .flaticon-three-stacks-of-coins:before { content: "\f136"; }
  .flaticon-photo:before { content: "\f137"; }
  .flaticon-social-media:before { content: "\f138"; }
  .flaticon-layers:before { content: "\f139"; }
  .flaticon-edit-document:before { content: "\f13a"; }
  .flaticon-people:before { content: "\f13b"; }
  .flaticon-quote:before { content: "\f13c"; }
  .flaticon-support:before { content: "\f13d"; }
  .flaticon-paint-palette-and-brush:before { content: "\f13e"; }
  .flaticon-arrow:before { content: "\f13f"; }
  .flaticon-shape:before { content: "\f140"; }
  .flaticon-cogwheel:before { content: "\f141"; }
  .flaticon-play-button:before { content: "\f142"; }
  .flaticon-heart:before { content: "\f143"; }
  .flaticon-arrows-3:before { content: "\f144"; }
  .flaticon-play-button-1:before { content: "\f145"; }
  .flaticon-home:before { content: "\f146"; }
  .flaticon-cross:before { content: "\f147"; }
  .flaticon-line-1:before { content: "\f148"; }
  .flaticon-right-arrow:before { content: "\f149"; }
  .flaticon-arrows-4:before { content: "\f14a"; }
  .flaticon-home-1:before { content: "\f14b"; }
  .flaticon-time:before { content: "\f14c"; }
  .flaticon-bullhorn:before { content: "\f14d"; }
  .flaticon-technology-2:before { content: "\f14e"; }
  .flaticon-food:before { content: "\f14f"; }
  .flaticon-phone-call:before { content: "\f150"; }
  .flaticon-smartphone:before { content: "\f151"; }
  .flaticon-nature:before { content: "\f152"; }
  .flaticon-email:before { content: "\f153"; }
  .flaticon-quality:before { content: "\f154"; }
  .flaticon-light-bulb:before { content: "\f155"; }
  .flaticon-letter:before { content: "\f156"; }
  .flaticon-magnifying-glass:before { content: "\f157"; }
  .flaticon-technology-3:before { content: "\f158"; }
  .flaticon-search:before { content: "\f159"; }
  .flaticon-rocket-launch:before { content: "\f15a"; }
  .flaticon-multimedia:before { content: "\f15b"; }
  .flaticon-support-1:before { content: "\f15c"; }
  .flaticon-search-1:before { content: "\f15d"; }
  .flaticon-bag:before { content: "\f15e"; }
  .flaticon-correct:before { content: "\f15f"; }
  .flaticon-video-camera:before { content: "\f160"; }
  .flaticon-stats:before { content: "\f161"; }
  .flaticon-multiplayer:before { content: "\f162"; }
  .flaticon-arrows-5:before { content: "\f163"; }
  .flaticon-arrows-6:before { content: "\f164"; }
  .flaticon-arrows-7:before { content: "\f165"; }
  .flaticon-arrows-8:before { content: "\f166"; }
  .flaticon-arrows-9:before { content: "\f167"; }
  .flaticon-menu:before { content: "\f168"; }
  .flaticon-checked:before { content: "\f169"; }
  .flaticon-line-2:before { content: "\f16a"; }
  .flaticon-truck:before { content: "\f16b"; }
  .flaticon-coin:before { content: "\f16c"; }
  .flaticon-headphones:before { content: "\f16d"; }
  .flaticon-shopping-bag:before { content: "\f16e"; }
  .flaticon-money:before { content: "\f16f"; }
  .flaticon-money-1:before { content: "\f170"; }
  .flaticon-garbage:before { content: "\f171"; }
  .flaticon-placeholder:before { content: "\f172"; }
  .flaticon-heart-1:before { content: "\f173"; }
  .flaticon-settings:before { content: "\f174"; }
  .flaticon-link:before { content: "\f175"; }
  .flaticon-star:before { content: "\f176"; }
  .flaticon-tag:before { content: "\f177"; }
  .flaticon-printer:before { content: "\f178"; }
  .flaticon-share:before { content: "\f179"; }
  .flaticon-house:before { content: "\f17a"; }
  .flaticon-phone-call-1:before { content: "\f17b"; }
  .flaticon-shopping-bag-1:before { content: "\f17c"; }
  .flaticon-envelope:before { content: "\f17d"; }
  .flaticon-bars:before { content: "\f17e"; }
  .flaticon-remove:before { content: "\f17f"; }
  .flaticon-time-1:before { content: "\f180"; }
  .flaticon-check:before { content: "\f181"; }
  .flaticon-link-1:before { content: "\f182"; }
  .flaticon-check-1:before { content: "\f183"; }
  .flaticon-add:before { content: "\f184"; }
  .flaticon-computer:before { content: "\f185"; }
  .flaticon-menu-1:before { content: "\f186"; }
  .flaticon-placeholder-1:before { content: "\f187"; }
  .flaticon-home-2:before { content: "\f188"; }
  .flaticon-phone-call-2:before { content: "\f189"; }
  .flaticon-phone-call-3:before { content: "\f18a"; }
  .flaticon-anchor:before { content: "\f18b"; }
  .flaticon-arrows-10:before { content: "\f18c"; }
  .flaticon-back:before { content: "\f18d"; }
  .flaticon-signs:before { content: "\f18e"; }
  .flaticon-menu-2:before { content: "\f18f"; }
  .flaticon-back-1:before { content: "\f190"; }
  .flaticon-wallet:before { content: "\f191"; }
  .flaticon-arrows-11:before { content: "\f192"; }
  .flaticon-calendar:before { content: "\f193"; }
  .flaticon-picture:before { content: "\f194"; }
  .flaticon-picture-1:before { content: "\f195"; }
  .flaticon-play-button-2:before { content: "\f196"; }
  .flaticon-play-button-3:before { content: "\f197"; }
  .flaticon-success:before { content: "\f198"; }
  .flaticon-add-1:before { content: "\f199"; }
  .flaticon-clock:before { content: "\f19a"; }
  .flaticon-calendar-1:before { content: "\f19b"; }
  .flaticon-home-3:before { content: "\f19c"; }
  .flaticon-home-4:before { content: "\f19d"; }
  .flaticon-placeholder-2:before { content: "\f19e"; }
  .flaticon-users:before { content: "\f19f"; }
  .flaticon-unlink:before { content: "\f1a0"; }
  .flaticon-next:before { content: "\f1a1"; }
  .flaticon-triangle:before { content: "\f1a2"; }
  .flaticon-gamepad:before { content: "\f1a3"; }
  .flaticon-idea:before { content: "\f1a4"; }
  .flaticon-interface-2:before { content: "\f1a5"; }
  .flaticon-up-arrow:before { content: "\f1a6"; }
  .flaticon-arrows-12:before { content: "\f1a7"; }
  .flaticon-arrows-13:before { content: "\f1a8"; }
  .flaticon-arrows-14:before { content: "\f1a9"; }
  .flaticon-close:before { content: "\f1aa"; }
  .flaticon-user:before { content: "\f1ab"; }
  .flaticon-bar-chart:before { content: "\f1ac"; }
  .flaticon-speech-bubble:before { content: "\f1ad"; }
  .flaticon-placeholder-3:before { content: "\f1ae"; }
  .flaticon-technology-4:before { content: "\f1af"; }
  .flaticon-stick-man:before { content: "\f1b0"; }
  .flaticon-technology-5:before { content: "\f1b1"; }
  .flaticon-steam:before { content: "\f1b2"; }
  .flaticon-link-2:before { content: "\f1b3"; }
  .flaticon-trophy:before { content: "\f1b4"; }
  .flaticon-gamepad-1:before { content: "\f1b5"; }
  .flaticon-gamepad-2:before { content: "\f1b6"; }
  .flaticon-drawing:before { content: "\f1b7"; }
  .flaticon-xbox:before { content: "\f1b8"; }
  .flaticon-send:before { content: "\f1b9"; }
  .flaticon-trophy-1:before { content: "\f1ba"; }
  .flaticon-layers-1:before { content: "\f1bb"; }
  .flaticon-gamepad-3:before { content: "\f1bc"; }
  .flaticon-monitor:before { content: "\f1bd"; }
  .flaticon-paint-brush:before { content: "\f1be"; }
  .flaticon-line-chart:before { content: "\f1bf"; }
  .flaticon-home-5:before { content: "\f1c0"; }
  .flaticon-play-button-4:before { content: "\f1c1"; }
  .flaticon-interface-3:before { content: "\f1c2"; }
  .flaticon-bar-chart-1:before { content: "\f1c3"; }
  .flaticon-message:before { content: "\f1c4"; }
  .flaticon-playstore:before { content: "\f1c5"; }
  .flaticon-quality-1:before { content: "\f1c6"; }
  .flaticon-agenda:before { content: "\f1c7"; }
  .flaticon-shirt:before { content: "\f1c8"; }
  .flaticon-maps-and-flags:before { content: "\f1c9"; }
  .flaticon-delete-1:before { content: "\f1ca"; }
  .flaticon-cancel:before { content: "\f1cb"; }
  .flaticon-login:before { content: "\f1cc"; }
  .flaticon-logout:before { content: "\f1cd"; }
  .flaticon-line-chart-1:before { content: "\f1ce"; }
  .flaticon-menu-3:before { content: "\f1cf"; }
  .flaticon-like:before { content: "\f1d0"; }
  .flaticon-bar-chart-2:before { content: "\f1d1"; }
  .flaticon-calendar-2:before { content: "\f1d2"; }
  .flaticon-title:before { content: "\f1d3"; }
  .flaticon-briefcase:before { content: "\f1d4"; }
  .flaticon-agenda-1:before { content: "\f1d5"; }
  .flaticon-technology-6:before { content: "\f1d6"; }
  .flaticon-arrows-15:before { content: "\f1d7"; }
  .flaticon-menu-4:before { content: "\f1d8"; }
  .flaticon-photo-1:before { content: "\f1d9"; }
  .flaticon-settings-1:before { content: "\f1da"; }
  .flaticon-console:before { content: "\f1db"; }
  .flaticon-calendar-3:before { content: "\f1dc"; }
  .flaticon-mail:before { content: "\f1dd"; }
  .flaticon-joystick:before { content: "\f1de"; }
  .flaticon-clipboard:before { content: "\f1df"; }
  .flaticon-tshirt:before { content: "\f1e0"; }
  .flaticon-book:before { content: "\f1e1"; }
  .flaticon-playstation:before { content: "\f1e2"; }
  .flaticon-hamburger:before { content: "\f1e3"; }
  .flaticon-soccer-ball:before { content: "\f1e4"; }
  .flaticon-football-player:before { content: "\f1e5"; }
  .flaticon-coin-1:before { content: "\f1e6"; }
  .flaticon-hero:before { content: "\f1e7"; }
  .flaticon-call:before { content: "\f1e8"; }
  .flaticon-email-1:before { content: "\f1e9"; }
  .flaticon-email-2:before { content: "\f1ea"; }
  .flaticon-instagram:before { content: "\f1eb"; }
  .flaticon-playstore-1:before { content: "\f1ec"; }
  .flaticon-playstore-2:before { content: "\f1ed"; }
  .flaticon-tools:before { content: "\f1ee"; }
  .flaticon-pumpkin:before { content: "\f1ef"; }
  .flaticon-calendar-4:before { content: "\f1f0"; }
  .flaticon-puzzle:before { content: "\f1f1"; }
  .flaticon-creativity:before { content: "\f1f2"; }
  .flaticon-marker:before { content: "\f1f3"; }
  .flaticon-mouse:before { content: "\f1f4"; }
  .flaticon-gamepad-4:before { content: "\f1f5"; }
  .flaticon-game-controller:before { content: "\f1f6"; }
  .flaticon-gamepad-5:before { content: "\f1f7"; }
  .flaticon-login-1:before { content: "\f1f8"; }
  .flaticon-logout-1:before { content: "\f1f9"; }
  .flaticon-location-pin:before { content: "\f1fa"; }
  .flaticon-american-football:before { content: "\f1fb"; }