.cookieConsentContainer {
	z-index: 999;
	width: 350px;
	min-height: 20px;
	box-sizing: border-box;
	padding: 30px 30px 30px 30px;
	background: #ff7a21;
	overflow: hidden;
	position: fixed;
    bottom: 30px;
	left: 30px;
	display: none;
	border-radius: 20px;
}
.cookieConsentContainer .cookieTitle a {
	font-family: Oswald, arial, "sans-serif";
	color: #FFFFFF;
	font-size: 22px;
	line-height: 20px;
	display: block;
}
.cookieConsentContainer .cookieDesc p {
	margin: 5px 0;
	padding: 0;
	font-family: Oswald, arial, "sans-serif";
	color: #FFFFFF;
	font-size: 16px;
	line-height: 20px;
	display: block;
	margin-top: 10px;
} 
.cookieConsentContainer .cookieDesc a {
	font-family: Oswald, arial, "sans-serif";
	color: #FFFFFF;
	text-decoration: underline;
}
.cookieConsentContainer .cookieDesc a:hover {
	color: #131528;
}
.cookieConsentContainer .cookieButton a {
	display: inline-block;
	font-family: Oswald, arial, "sans-serif";
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
	margin-top: 14px;
	background: #0d0e1b;
	box-sizing: border-box; 
	padding: 15px 24px;
	text-align: center;
	border-radius: 10px;
	transition: background 0.3s;
}
.cookieConsentContainer .cookieButton a:hover { 
	cursor: pointer;
	background: #3E9B67;
	color: #fff;
}

@media (max-width: 980px) {
	.cookieConsentContainer {
		bottom: 0px !important;
		left: 0px !important;
		width: 100% !important;
	}
}