/* Sintix - Digital Video Gaming and Consol HTML Template  */

@media only screen and (max-width: 7000px){
	.page-wrapper{
		overflow: hidden;
	}
	
}

@media only screen and (max-width: 1299px){
	.main-header .header-container,
	.main-footer .footer-bottom .outer-container{
		margin: 0px 50px;
	}

	.banner-carousel .content-box h2{
		font-size: 84px;
	}

	.banner-carousel .content-box h1{
		font-size: 120px;
		line-height: 1.1em;
	}

	.banner-style-two .owl-nav{
		width: 100%;
		left: 0;
	}
}

@media only screen and (max-width: 1139px){
	
	.main-menu .navigation > li{
		margin-right: 30px;
	}

	.main-header .header-container{
		margin: 0px 0px;
	}

	.banner-carousel .content-box h2{
		font-size: 72px;
	}

	.banner-carousel .content-box{
		height: 700px;
	}

	.header-style-two .header-upper .social-links{
		margin-left: 30px;
	}

	.game-block .lower-content{
		padding: 40px 20px;
	}

	.fixed-gallery-box{
		width: auto;
		height: auto;
		margin: 0px -10px;
	}

	.dual-section .fixed-gallery-box{
		margin-bottom: 50px;
	}

	.fixed-gallery-box .gallery-item:nth-child(even),
	.fixed-gallery-box .gallery-item:nth-child(odd),
	.fixed-gallery-box .gallery-item{
		position: relative !important;
		float: left;
		padding: 0px 10px;
		margin-bottom: 20px;
		width: 33.3333%;
		left: 0 !important;
		top: 0 !important;
		right: 0 !important;
		bottom: 0 !important;
	}

	.fixed-gallery-box .gallery-item:nth-child(even) .image-box,
	.fixed-gallery-box .gallery-item:nth-child(odd) .image-box,
	.fixed-gallery-box .gallery-item .image-box{
		width: 100% !important;
		height: 310px !important;
	}

	.sec-title h2{
		font-size: 42px;
	}

	.featured-carousel-box .slide-item .text-column .inner{
		padding: 50px 30px 120px;
	}

	.main-footer .links-widget .widget-content{
		padding-left: 0;
	}

	.platofrm-block .inner{
		padding-left: 100px;
	}

	.platofrm-block .icon-box{
		left: 30px;
	}

	.featured-game .image-column .inner{
		margin: 0;
	}

	.page-banner h1{
		font-size: 64px;
	}

	.about-section .image-column .inner{
		padding-right: 0;
	}

	.feature-block .inner-box{
		padding: 40px 20px;
	}

	.cont-info-section .info-block .inner-box:after{
		display: none;
	}

	.cont-info-section .info-block .inner-box{
		padding-left: 0 !important;
		text-align: center;
	}

	.cont-info-section{
		padding: 80px 0px 10px;
	}

	.cont-info-section .info-block .text{
		max-width: 400px;
		margin: 0 auto;
	}

}

@media only screen and (min-width: 768px){
	.main-menu .navigation > li > ul,
	.main-menu .navigation > li > ul > li > ul{
		display:block !important;
		visibility:hidden;
		opacity:0;
	}
}

@media only screen and (max-width: 1023px){
	.main-header{
		position: relative !important;
		left: 0;
		top: 0;
	}

	.main-header .header-top,
	.main-header .header-upper .inner-container{
		padding-left: 0;
	}

	.main-header .header-top .inner{
		padding: 12px 20px;
	}

	.main-header .header-upper .logo-box{
		position: relative;
		top: 0;
		left: 0;
		bottom: 0;
		padding: 10px 20px;
		width: auto;
		background: none;
		height: auto;
		border: none;
	}

	.main-header .header-upper .logo img{
		height: 80px;
	}

	.main-header .nav-outer .main-menu,
	.sticky-header{
		display: none !important;
	}

	.nav-outer .mobile-nav-toggler{
		display: block;
	}

	.main-header .header-upper .social-links{
		padding: 30px 0px;
	}

	.banner-carousel .slide-item{
		padding-top: 0;
	}

	.banner-carousel .content-box{
		height: 600px;
		margin: 0 auto;
		text-align: center;
	}

	.banner-carousel .content-box h2{
		font-size: 64px;
		line-height: 1.3em;
	}

	.fixed-gallery-box .gallery-item:nth-child(even),
	.fixed-gallery-box .gallery-item:nth-child(odd),
	.fixed-gallery-box .gallery-item{
		width: 50% !important;
	}

	.fixed-gallery-box .gallery-item:nth-child(even) .image-box,
	.fixed-gallery-box .gallery-item:nth-child(odd) .image-box,
	.fixed-gallery-box .gallery-item .image-box{
		height: 420px !important;
	}

	.sec-title h2{
		font-size: 36px;
	}

	.reviews-section .carousel-outer{
		padding: 0;
		min-height: 0;
		text-align: center;
	}

	.reviews-section .carousel-outer .thumb-carousel-box{
		position: relative;
		margin: 0 auto 50px;
	}

	.reviews-section .carousel-outer .text-carousel .owl-nav{
		position: relative;
		left: 0;
		bottom: 0;
		width: 100%;
		top: 0;
		right: 0;
		text-align: center;
		padding-top: 50px;
	}

	.reviews-section .sec-title{
		text-align: center;
	}

	.reviews-section .sec-title .bottom-curve{
		left: 50%;
		margin-left: -15px;
	}

	.fact-counter{
		text-align: center;
	}

	.video-section h2{
		font-size: 48px;
		line-height: 1.3em;
	}

	.news-block .over-box{
		padding: 0px 20px 20px;
	}

	.news-block .over-box h3{
		font-size: 24px;
		line-height: 1.3em;
	}

	.main-footer .footer-bottom,
	.main-footer .footer-bottom .social-links,
	.main-footer .footer-bottom .social-links ul{
		text-align: center;
	}

	.main-footer .footer-bottom .outer-container{
		margin: 0 0;
	}

	.banner-carousel .content-box h1{
		font-size: 80px;
		line-height: 1.2em;
	}

	.banner-style-two .owl-nav{
		margin-top: -50px;
	}

	.featured-game .text-column{
		order: 0;
	}

	.featured-game .sec-title{
		margin-bottom: 30px;
	}

	.parallax-section h2{
		font-size: 48px;
		margin-bottom: 25px;
	}

	.parallax-section{
		padding: 140px 0px 130px;
	}

	.page-banner{
		padding-top: 0;
	}

	.page-banner .banner-inner{
		padding: 80px 0px 120px;
	}

	.page-banner h1{
		font-size: 48px;
	}

	.about-section .text-column{
		order: 0;
	}

	.blog-detail .lower-content h3,
	.group-title h3{
		font-size: 30px;
	}

	.contact-banner .banner-inner,
	.contact-banner .map-canvas{
		padding: 0;
		height: 500px;
	}
}

@media only screen and (max-width: 767px){	
	
	.banner-carousel .content-box h2{
		font-size: 48px;
	}

	.banner-carousel .content-box{
		padding: 80px 0px 150px;
		height: auto;
	}

	.fixed-gallery-box .gallery-item:nth-child(even) .image-box,
	.fixed-gallery-box .gallery-item:nth-child(odd) .image-box,
	.fixed-gallery-box .gallery-item .image-box{
		height: 280px !important;
	}

	.sec-title h2{
		font-size: 30px;
	}

	.video-section h2{
		font-size: 42px;
	}

	.video-section{
		padding: 150px 0px;
	}

	.featured-carousel-box .slide-item .image-column,
	.featured-carousel-box .slide-item .text-column{
		width: 100%;
		position: relative;
	}

	.featured-carousel-box .slide-item .image-box{
		display: block;
	}

	.featured-carousel-box .slide-item .image-layer{
		display: none;
	}

	.featured-carousel-box .owl-theme .owl-nav{
		width: 100%;
		bottom: 0;
		padding: 40px 0px 0px;
		text-align: center;
	}

	.featured-carousel-box .owl-theme .owl-nav .owl-prev,
	.featured-carousel-box .owl-theme .owl-nav .owl-next{
		margin: 0px 3px;
	}

	.banner-carousel .content-box h1{
		font-size: 64px;
	}

	.banner-carousel .content-box .upper-subtitle,
	.banner-carousel .content-box .lower-subtitle{
		font-size: 24px;
	}

	.parallax-section h2{
		font-size: 36px;
	}

	.parallax-section .text-box{
		font-size: 18px;
		font-weight: 300;
	}

	.accordion-box .block .acc-btn{
		padding-left: 20px;
		padding-right: 50px;
	}

	.accordion-box .block .icon{
		right: 20px;
	}

	.accordion-box .block .content{
		padding: 20px 20px;
	}

	.page-banner h1{
		font-size: 42px;
	}

	.feature-block .inner-box{
		text-align: center;
	}

	.game-details .lower-content .title-box .title,
	.game-details .lower-content .link-box{
		width: 100%;
	}

	.game-details .lower-content .title-box{
		margin-bottom: 20px;
	}

	.game-details h2{
		font-size: 24px;
	}

	.blog-detail .lower-content h3,
	.group-title h3{
		font-size: 24px;
	}

	.blog-detail .post-info{
		margin-bottom: 15px;
	}

	.author-box{
		padding: 30px;
	}

	.contact-banner .banner-inner,
	.contact-banner .map-canvas{
		padding: 0 !important;
		height: 400px;
	}

	.news-block-two .lower-content h3{
		font-size: 22px;
	}
}

@media only screen and (max-width: 599px){
	.main-header .header-top{
		text-align: center;
	}

	.main-header .header-top .top-right{
		width: 100%;
	}

	.main-header .header-top .top-left{
		display: none;
	}

	.main-header .header-top .info li{
		float: none;
		display: inline-block;
		margin: 0px 10px;
	}

	/*.banner-carousel .content-box .content {
		padding-top: 200px;
	}*/

	.banner-carousel .content-box h2{
		font-size: 36px;
	}

	.fixed-gallery-box .gallery-item:nth-child(even),
	.fixed-gallery-box .gallery-item:nth-child(odd),
	.fixed-gallery-box .gallery-item{
		width: 100% !important;
	}

	.fixed-gallery-box .gallery-item:nth-child(even) .image-box,
	.fixed-gallery-box .gallery-item:nth-child(odd) .image-box,
	.fixed-gallery-box .gallery-item .image-box{
		height: 420px !important;
	}

	.video-section h2{
		font-size: 36px;
	}

	.featured-carousel-box .slide-item .text-column .title{
		padding-right: 0;
	}

	.featured-carousel-box .slide-item .text-column .title .rating{
		position: relative;
		left: 0;
		top: 0;
	}

	.featured-carousel-box .slide-item .text-column .bottom-links li a{
		font-size: 13px;
		padding: 15px 5px;
	}

	.featured-carousel-box .slide-item .text-column .inner{
		padding:40px 20px 100px;
	}

	.featured-carousel-box .slide-item .text-column .title h3{
		font-size: 24px;
	}

	.banner-carousel .content-box h1{
		font-size: 48px;
	}

	.banner-carousel .content-box .upper-subtitle,
	.banner-carousel .content-box .lower-subtitle{
		font-size: 20px;
	}

	.banner-style-two .owl-nav{
		display: none;
	}

	.trailer-video-box .over-link .icon{
		-webkit-transform: scale(0.7);
		-ms-transform: scale(0.7);
		transform: scale(0.7);
	}

	.platofrm-block .inner{
		padding: 30px 20px;
		text-align: center;
	}

	.platofrm-block .icon-box{
		position: relative;
		left: 0;
		top: 0;
		margin: 0 auto 20px;
	}

	.page-banner .banner-inner{
		padding: 50px 0px 100px;
	}

	.page-banner h1{
		font-size: 36px;
	}

	.sidebar-widget{
		padding: 30px 20px;
	}

	.author-box .inner-box{
		padding-left: 0;
		text-align: center;
	}

	.author-box .thumb,
	.comments-area .comment-box .author-thumb{
		position: relative;
		left: 0;
		top: 0;
		margin: 0 auto 20px;
	}

	.group-title{
		text-align: center;
	}

	.comments-area .comment{
		padding-left: 0;
	}

	.comments-area .comment-box .reply-btn{
		position: relative;
		left: 0;
		top: 0;
		margin: 20px 0 0;
	}

	.comments-area .comment-box{
		padding-bottom: 30px;
		margin-bottom: 30px;
		text-align: center;
	}

	.comments-area .comment-box .name{
		margin-bottom: 10px;
	}
}

@media only screen and (max-width: 1024px) {
	.banner-carousel .content-box .content {
		padding-top: 380px;
		top: -20px;
	}
}

@media only screen and (max-width: 768px) {
	.banner-carousel .content-box .content {
		padding-top: 320px;
		top: 0;
	}

	.page-banner h1 {
		top: 0;
	}
}

@media only screen and (max-width: 540px) {
	.banner-carousel .content-box .content {
		padding-top: 200px;
		top: 0;
	}
		
	.page-banner h1 {
		top: 0;
	}

	.server-info-right, .server-info-left {
		float: none;
	}
}

@media only screen and (max-width: 375px) {
	.banner-carousel .content-box .content {
		padding-top: 150px;
		top: 0;
	}
		
	.page-banner h1 {
		top: 0;
	}
}

@media only screen and (max-width: 320px) {
	.banner-carousel .content-box .content {
		padding-top: 100px;
		top: 0;
	}
		
	.page-banner h1 {
		top: 0;
	}
}

@media only screen and (max-width: 479px) {
	.main-header .header-upper .social-links{
		display: none;
	}

	.fixed-gallery-box .gallery-item:nth-child(even) .image-box,
	.fixed-gallery-box .gallery-item:nth-child(odd) .image-box,
	.fixed-gallery-box .gallery-item .image-box{
		height: 280px !important;
	}

	.video-section h2{
		font-size: 30px;
	}

	.reviews-section .carousel-outer .thumb-carousel-box{
		width: 280px;
	}

	.reviews-section .carousel-outer .thumb-carousel-box .thumb img{
		width: 81px;
		height: 81px;
	}

	.news-block .over-box h3{
		font-size: 20px;
	}

	.banner-carousel .content-box h1{
		font-size: 42px;
		display: block;
	}

}

@media (max-width: 757px) {
	.progress-table-wrap {
		overflow-x: scroll;
	}

	.flexx {
		display: block;
	}
}

@media (max-width: 780px) {
	.pricing-table {
		flex: 100%;
	}

	.contr {
		width: 350px;
	}
}

@media (max-width: 350px) {
	.contr {
		width: 300px;
	}

	.price {
	  font-size: 35px;
	}
}

@media (max-width: 1024px) {
  .flexx {
	  display: block;
  }

  .col-md-6, .col-md-4{
	  max-width: 100%;
  }

  .progress-table-wrap {
	  overflow-x: scroll;
  }
}